/* Readium CSS
   Scroll Padding module

   A set of styles to add padding to the scroll view of ePublications

   Repo: https://github.com/readium/css */

/* Padding needs to be added to the body of the scroll view as we can't
   add it to the html element because it would break 100vh height 
   See https://github.com/readium/css/issues/98 */

/* Shorthand */

:root:--scroll-view[style*="--RS__scrollPadding"] body {
  padding: var(--RS__scrollPadding) !important;
}

/* Specific */

:root:--scroll-view[style*="--RS__scrollPaddingTop"] body {
  padding-top: var(--RS__scrollPaddingTop) !important;
}

:root:--scroll-view[style*="--RS__scrollPaddingBottom"] body {
  padding-bottom: var(--RS__scrollPaddingBottom) !important;
}

:root:--scroll-view[style*="--RS__scrollPaddingLeft"] body {
  padding-left: var(--RS__scrollPaddingLeft) !important;
}

:root:--scroll-view[style*="--RS__scrollPaddingRight"] body {
  padding-right: var(--RS__scrollPaddingRight) !important;
}