/* Readium CSS
   Para indent pref

   A submodule managing paragraphs’ text-indent for user settings
   Part of “User Overrides Advanced” class – “advanced settings” flag required.

   Repo: https://github.com/readium/css */

:root[style*="--USER__paraIndent"] p:not(
  blockquote p,
  figcaption p,
  header p,
  hgroup p,
  :root:--experimental-header-filtering p[class*="title"],
  :root:--experimental-header-filtering div:has(+ *) > h1 + p,
  :root:--experimental-header-filtering div:has(+ *) > p:has(+ h1)
) {
  text-indent: var(--USER__paraIndent) !important;
}

/* If there are inline-block elements in paragraphs, text-indent will inherit so we must reset it */

:root[style*="--USER__paraIndent"] p * {
  text-indent: 0 !important;
}