/* Readium CSS
   Font size pref

   A submodule managing font-size for user settings
   Part of “User Overrides” class – no flag required.

   Repo: https://github.com/readium/css */

:root:not(:--deprecated-font-size)[style*="--USER__fontSize"] body {
  zoom: var(--USER__fontSize) !important;
}

/* Older deprecated implementation for when zoom is not supported
   or it is explicitly enabled because you don’t want the new one */

@supports not (zoom: 1) {
  :root[style*="--USER__fontSize"] {
    font-size: var(--USER__fontSize) !important;
  }
}

:root:--deprecated-font-size[style*="--USER__fontSize"] {
  font-size: var(--USER__fontSize) !important;
}